<style>
	@font-face {

		font-family: 'roboto' ;
		src: url('<%= fontsRoot %>Roboto-Regular.ttf') format('truetype');

	}

	.address {
		display: flex;
		justify-content: space-between;
	}

	.partTitle {
		font-family: 'roboto';
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		top: 3mm;
		bottom: 3mm;
		left: 5mm;
		right: 5mm;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-top-style: solid;
		border-top-width: 3px;
		border-color: #558ED4;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 5px;
	}


	.partTitleRight{
		display: -webkit-box;
		-webkit-box-pack: end;
		-webkit-box-flex: 2;
	}

	.warning {
		color : red;
	}

	.top {
		font-family: 'roboto';
		display: -webkit-box;
	}

	.top .left {
		display: -webkit-box;
	}

	.title{
		display: -webkit-box;
		-webkit-box-align: center;
		height:40px;
		color:gray;
	}
	 .title h2 {
		margin: 0;

	}
	.logo2 {

	}

	.logo {
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: end;
		-webkit-box-flex: 2;
	}

	h4 {
		margin: 0;
	}

	.part {
		font-family: 'roboto';
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		left: 5px;
		right: 5px;
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-bottom-color: rgb(245, 245, 245);
	}

	.partImage img {
		height:60px;
	}

	.partNumberGroup {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
	}

	.partQty {
		padding-top: 5px;
		padding-right : 5px;
		display: -webkit-box;

		-webkit-box-pack: end;
		-webkit-box-flex: 2;
	}

	.clientInfo {
		font-family: 'roboto';
		margin-top: 10px;
		margin-bottom: 10px;
		font-size : 18px;
	}

	.partNumberDescription {
		display: -webkit-box;
		width:450px;
		-webkit-box-flex: vertical;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 12px;
	}

	a:link {
		color:black;
		text-decoration: none;
	}


	.footer {
		font-size: 14px;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: start;
	}

	.footerLeft {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: start;
		color: gray;
	}

	.footerRightParent {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: end;
		-webkit-box-flex: 3;
	}
	.footerVertical {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: end;
		color: gray;
	}
	.footerPages {
		font-size : 12px;
	}
	.footerEmail {
		text-align: right;
	}

	.ww-product-image {
		display: inline-block;
		margin: auto;

	}

	.image-container {
		display: inline-block;
		position: relative;
		max-width: 60px;
		max-height: 60px;
	}

	.ww-product-image .product-image {
		max-width: 60px;
		max-height: 60px;
	}

	.ww-product-image .connectorA {
		width: 20px;
		margin: 0px;
		box-shadow: 2px 2px 2px 0px rgba(63, 81, 181, 0.2);
		position: absolute;
		top: 0;
		left: 0; }
	.ww-product-image .connectorB {
		width: 20px;
		margin-right: 2px;
		margin-bottom: 2px;
		box-shadow: 2px 2px 2px 0px rgba(63, 81, 181, 0.2);
		position: absolute;
		bottom: 0;
		right: 0; }

</style>

	<div class="top">
		<div class="left">
			<div class="logo2">
				<img src="<%= logo2 %>" width="40px" height="40px" >
			</div>
			<div class="title">
				<h2><%= title %></h2>
			</div>
		</div>

		<div class="logo">
			<img src="<%= logo %>" height="20px" width="200px">
		</div>
	</div>


	<div class="clientInfo">
		<div class="clientname">
			Contact Name: <%= client %>
		</div>
		<div class="clientEmail">
			Email: <%= email %>
		</div>
	</div>


	<div class="partTitle">
		<div class="partTitleLeft">Item Number</div>
		<div class="partTitleRight">Quantity</div>
	</div>
	<% var counter = 0;
	for (var prop in parts)
	{
		counter++;
		if (Object.prototype.hasOwnProperty.call(parts, prop)) { %>
		<div class="part">
			<div class="partNumberGroup">
				<div class="ww-product-image">
					<div class="image-container">
						<img class="product-image connectorA" src=<%= productImageRoot %><%= parts[prop].connectorA %> >
						<img class="product-image cable" src=<%= productImageRoot %><%= parts[prop].cable %>  >
						<img class="product-image connectorB" src=<%= productImageRoot %><%= parts[prop].connectorB %>  >
					</div>
				</div>
				<div class="partNumberDesc">
					<div class="partNumber"><a href="http://sg.wirewerks.com/state/product/<%= prop %>"><%= prop %></a> </div>
					<div class="partNumberDescription"><%= parts[prop].description %></div>
				</div>
			</div>

			<div class="partQty"><%= parts[prop].quantity %></div>
		</div>
	<% if (counter == 8) { %>
		<div style="page-break-after:always;"></div>
	<% counter =0; } %>
	<%   }
	} %>



<div id="pageFooter">
	<div class="footer">
		<div class="footerVertical">
			<div class="footerLeft">
				www.wirewerks.com
			</div>
			<div class="footerPages">
				page {{page}} of {{pages}}
			</div>
		</div>
		<div class="footerRightParent">
			<div class="footerVertical">
				<div class="footerEmail">
					sales@wirewerks.com
				</div>
				<div class="footerTelephone">
					Telephone: 1-888-993-4237, Fax: 1-888-893-4237
				</div>
			</div>
		</div>
	</div>
</div>