<style>
	img {
		display: block;
		margin: 0 auto;
		opacity:1;
		border-bottom-color: transparent;
	}

	h3 {
		left: 5mm;
	}

	.part {
		display: flex;
		justify-content: space-between;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: justify;
		left: 5mm;
		right: 5mm;
		padding-bottom: 1mm;
		padding-top: 1mm;
		border-bottom-style: solid;
		border-bottom-width: 0.5px;
		border-bottom-color: rgb(245, 245, 245);
	}

	.address {
		display: flex;
		display: -webkit-box;
		justify-content: space-between;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: justify;
	}


	.partDescription {
		display: flex;
		justify-content: space-between;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: justify;
		top: 3mm;
		bottom: 3mm;
		left: 5mm;
		right: 5mm;
		border-bottom-style: solid;
		border-bottom-width: 3px;
	}

	.warning {
		color : red;
	}

</style>

	<img src="<%= logo %>" width="75%" align="middle">
	<h1 align="center"><%= title %></h1>

	<h3>Client Name: <%= client %> </h3>
	<h3>Email: <%= email %> </h3>

	<div class="partDescription">
		<div class="left">Part Number</div>
		<div class="right">Quantity</div>
	</div>
	<% for (var prop in parts) {
	if (Object.prototype.hasOwnProperty.call(parts, prop)) { %>
	<div class="part">
		<div class="left"><a href="http://sg.wirewerks.com/state/product/<%= prop %>"><%= prop %></a> </div>
		<div class="right"><%= parts[prop].quantity %></div>
	</div>
	<%   }
	} %>

<div id="pageFooter-last">
	<img class='logo' src="<%= logo %>" width="10%"/>
	<div>
		<a href="http://www.wirewerks.com">Wirewerks</a>
	</div>
	<div>
		Head Office & Regional Field Sales Offices
	</div>
	<div class="address">
		<a href="https://www.google.com/maps/place/10280+Chemin+de+la+Côte-de-Liesse,+Lachine,+QC+H8T+1A3">10280 Ch. de la Côte-de-liesse, Lachine Québec, H8T 1A3, Canada</a>
	</div>
	<div>
		Toll Free Phone Number: 1-888-993-4237
	</div>
</div>