<style>
img {
    display: block;
    margin: 0 auto;
}

.left{float:left; width:50%;}
</style>

<img class='logo' src="<%= logo %>" width="75%" align="middle">


<h1 align="center"><%= title %></h1>

<h3>Customer Name: <%= client %> </h2>
<h3>Email: <%= email %> </h2>
<% for (var prop in parts) {
     if (Object.prototype.hasOwnProperty.call(parts, prop)) { %>
       <div class="left"><%= prop %>  </div><div class="left">quantity: <%= parts[prop].quantity %></div>
<%   }
   } %>
