<style>
	img {
		display: block;
		margin: 0 auto;
	}

	h3 {
		left: 5mm;
	}

	<% // Phantom JS is awful and does not support flexbox properly. Using old style flexbox.. %>
	.part {
		display: flex;
		justify-content: space-between;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: justify;
		left: 5mm;
		right: 5mm;
	}

	.warning {
		color : red;
	}

</style>

<img class='logo' src="<%= logo %>" width="75%" align="middle">

<h1 align="center" class="warning">THIS IS AN EXAMPLE TO FIX LINK IN PROD</h1>

<h1 align="center"><%= title %></h1>

<h3>Client Name: <%= client %> </h3>
<h3>Email: <%= email %> </h3>

<div class="part">
	<div class="left">Part Number</div>
	<div class="right">Quantity</div>
</div>
<hr noshade size="3">
<% for (var prop in parts) {
     if (Object.prototype.hasOwnProperty.call(parts, prop)) { %>
		<div class="part">
			<div class="left"><a href="http://wirewerks.mr-lvv.com/state/product/<%= prop %>"><%= prop %></a> </div>
			<div class="right"><%= parts[prop].quantity %></div>
		</div>
		<hr noshade size="1">
<%   }
} %>

<div id="pageFooter-last">
<a href="http://www.wirewerks.com">Wirewerks</a><br>
Head Office & Regional Field Sales Offices<br>
10280 Ch. de la Côte-de-liesse<br>
Lachine Québec, H8T 1A3
</div>